target/
!.mvn/wrapper/maven-wrapper.jar
*.class
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
help.gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
bin/
out/
.env
.env.local
.settings/
.project
.classpath
.factorypath
.idea/
*.iws
*.iml
*.ipr
.vscode/
.DS_Store
